


{{!-- <h1>{{title}}</h1> --}}
<h1>Welcome to {{title}}</h1>
        <div>
        <button class="login"><a href="/login">Login</a></button>
        </div>
        <br>
        <div>
        <button class="login"><a href="/signup">Signup</a></button>
        </div>

        <hr>
        <div>
        <button class="edit-button"><a href="/services">View Cosmetic Procedures</a></button>
        </div>
        <br>
        <div>
        <button class="edit-button"><a href="/fashion">View fashion</a></button>
        </div>
         <br>
        <div>
        <button class="edit-button"><a href="/makeup">Makeup Artist</a></button>
        </div>
         <br>




    <div class="cards-container">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../images/botox_injections.jpg">
        <div class="card-body">
            <h4 class="card-title">Cosmetic Procedures</h4>
            {{!-- <p class="card-text">Cosmetic Dermatology.</p> --}}
            <a href="/services" class="btn btn-primary">Procedures</a>
        </div>
        </div>

         <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../images/make-up2.jpg">
        <div class="card-body">
            <h4 class="card-title">Makeup Artist</h4>
            {{!-- <p class="card-text">Makeup Atists.</p> --}}
            <a href="/makeup" class="btn btn-primary">Makeup Artist</a>
        </div>
        </div>

           {{!-- <div class="cards-container"> --}}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../images/runway1.jpg">
        <div class="card-body">
            <h4 class="card-title">Fashion Designer</h4>
            {{!-- <p class="card-text">Makeup Atists.</p> --}}
            <a href="/makeup" class="btn btn-primary">Fashion</a>
        </div>
        </div>
             {{!-- <div class="cards-container"> --}}
       

 <div>
      {{!-- <h1>Hello {{{userName}}}!</h1>
      <h2>Welcome to the {{{title}}}!!</h2> --}}

    {{!-- {{#each cities}}
      <li>{{this}}</li>
    {{else}}
      <p>Available worlwide in less than 1 year!</p>
    {{/each}}  --}}

</div>


