
  <br>

  <body>
    <div> 
      <header class="jumbotron">
        <h1>Cosmetic Procedures</h1>
        <a class="btn btn-primary btn-large" href="/provider-info">Provider Information</a>
      </header> 
    </div>
          
            <hr>

    <div class="card-columns">
                {{#each services}}
              <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{this.image}}">
                    <div class="card-body">
                        <h5 class="card-title"><a href="service/{{this._id}}">{{this.name}}</a></h5>
                         <p class="card-text"><a href="service/{{this._id}}">{{this.provider}}</a></p>
                        <a href="/makeup" class="btn btn-primary">Makeup Artist</a>
                    </div>
                    </div>
                     {{/each}}
    </div>
               
  